body {
    background-color: blue;
}

.container {
    background-color: lightgrey;
    padding-top: 10px;
    margin-top: 5px;
}


nav {
    background-color: red;
    color: white;
}

.title {
    text-align: center;
}

ol {
    margin-top: 30px;
}

.btn {
    background-color: red ;
}