.piros {
    background-color: red;
    height: 15vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
}

.kek {
    background-color: blue;
    height: 50vh;
    max-width: 30%;
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

.zold {
    background-color: green;
    height: 50vh;
    max-width: 60%;
    margin: 2vh;
}

.szurke1 {
    background-color: grey;
    width: 10%;
    height: 33%;
    margin: auto 0 auto 2vh;
}
.szurke2 {
    background-color: grey;
    height: 5%;
    width: 70%;
    margin: 0 auto 2vh auto;
}

.szurke3 {
    background-color: grey;
    height: 50%;
    width: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    
}

.elso {
    margin-top: 5vh;
}